.navbar {
    display: flex;
    background-color: #0d6efd;
    color: #fff;
    width: 100vw;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 50px;
}

.left-nav {
    padding-top: 20px;
    padding-left: 20px;
    height: 92vh;
    overflow-y: scroll;
    background-color: #f2f2f2;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.catalogs-list,
.schemas-list,
.tables-views-buttons,
.tables-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.tables-list{
    border: 1px solid chocolate;
}

.schema-button {
    margin-left: 15px;
    background-color: #d9d9d9;
}

.tables-views-buttons{
    margin-left: 15px;
}

.tables-views-buttons button {
    margin-left: 30px;
    border: none;
}

.tables-button{
    margin-left: 50px;
}

.catalog-button,
.schema-button,
.tables-button {
    border: none;
}